# этот проект моего первого пакета, который потом надо будет поставить в вебпак изучение


# следить за всеми типами данных!
!*.*

# не следить за пакетами ноды!
/node_modules/

# не следить за ярлыками запуска
*.cmd


# не следить за переменными окружения!
*.env