# этот проба игнорирования для публикации


# публиковать всё!
!*.*

# не публиковать пакеты ноды!
/node_modules/

# не публиковать ярлыки запуска
*.cmd


# не публиковать переменные окружения!
*.env

# не публиковать картинки для гитхаба
/examples/

# не публиковать гитигнор
.gitignore

# не публиковать нпмигнор
.npmignore

# не публиковать готовые архивы
*.tgz